<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH7S7GwXh5qTpMrqvQ4tlM0AMaT21bVu0</string>
	<key>GCM_SENDER_ID</key>
	<string>942954729603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thimar.thimarAmit</string>
	<key>PROJECT_ID</key>
	<string>thimar-amit</string>
	<key>STORAGE_BUCKET</key>
	<string>thimar-amit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942954729603:ios:637e1b185340f8653e4bb6</string>
</dict>
</plist>